@font-face {
    font-family: majesticV;
    src: url(./fonts/ProximaNova-Bold.woff);
}
@font-face {
    font-family: majesticV;
    src: url(./fonts/ProximaNova-Extrabld.woff);
}
@font-face {
    font-family: majesticV;
    src: url(./fonts/ProximaNova-Light.woff);
}
@font-face {
    font-family: majesticV;
    src: url(./fonts/ProximaNova-Regular.woff);
}
@font-face {
    font-family: majesticV;
    src: url(./fonts/ProximaNova-Semibold.woff);
}

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: majesticV;
    user-select: none;
}
a{
    text-decoration: none;
    color: gray;
}
li{
    list-style-type: none;
}
.container{
    scroll-behavior: smooth;
    width: 100%;
    height: 400vh;
    background-color: #000000;
    header{
        width: 100%;
        height: 88px;
        display: flex;
        justify-content: space-around;
        align-items:flex-end;
        position: fixed;
        .wapper{
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .menu-mobile{
                display: none;
                position: absolute;
                i{
                    color: red;
                }
            }
            .logo{
                cursor: pointer;
                display: block;
                img{
                    &::selection{
                        background-color: #df005b;
                        color: #fff;
                    }
                }
            }
            .navbar{
                width: 45vh;
                display: grid;
                font-size: 15px;
                grid-template-columns: 1fr 1fr 1fr;
                .nav{
                    display: flex;
                    align-items: center;

                    margin-left: 20px;
                    img{
                        position: relative;
                        left: -9px;
                        top: 3.5px;
                        width: 16px;
                    }
                    i{
                        position: relative;
                        left: -9px;
                        width: 18px;
                        top: 1px;
                        height: 18px;
                        color: #333;
                    }
                    #flag{
                        position: relative;
                        left: -5px;
                        top: 3px;
                        border-radius: 50px;
                        width: 16px;
                    }
                    #text_laugues{
                        position: relative;
                        top: -1px;
                    }
                }
                .laugues{
                    display: none;
                    right:  20vh;
                    top: 9vh;
                    position: absolute;
                    .box{
                        border-radius: 15px;
                        display: flex;
                        justify-content: space-around;
                        background-color: #191919;
                        width: 25vh;
                        height: fit-content;
                        padding: 8px 8px;
                        span{     
                            border-radius: 10px;
                            padding-left: 15px;
                            padding-top: 10px;
                            padding-right: 10px;
                            padding-bottom: 10px;
                            width: fit-content;                   
                            font-size: 15px;
                            color: gray;
                            cursor: pointer;
                            img{
                                left: -7px;
                                position: relative;
                                top: 4px;
                                width: 16px;
                            }
                            &:hover{
                                cursor: pointer;
                                background-color: #252525;
                            }
                            
                        }
                    }
                    
                }
            }
        }
       
    }
    .info{
        top: 13vh;
        justify-content: center;
        align-items: center;
        height: 90vh;
        position: relative;
        display: flex;
        text-align: center;
        .grid{
            top: 50vh;
            position: absolute;
            width: 100%;
            img{
                width: 100%;
                height: 40vh;
            }
        }
        .effect{
            position: absolute;

            img{ 
                width: 100vh;

                display: block;
            }
        }
        .logo{
            position: absolute;

            img{
                display: block;
                max-width: 100vh;
            }
        }
        .person{
            position: absolute;
            top: -80px;
            img{
                display: block;
                max-width: 70vh;
                max-height: 85vh;
          }
        }
        .btn-cricle{
            z-index: 1000000;
            top: 35vh;
            right: 50px;
            position: fixed;
            .cricle{
                margin-top: 50px;
                width: 20px;
                height: 20px;
                background-color: #ffffff;
                border-radius: 100vh;
                cursor: pointer;
            }
        }
        .count-player{
            top: 50vh;
            position: absolute;
            span{
                font-weight: 900;
                color: white;
                font-size: 150px;
            }
        }
        .btn-info{
            top: 70vh;
            justify-content: center;
            width: 64vh;
            position: absolute;
            display: flex;
            color: white;

            .btn-down{
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                width: 258px;
                height: 54px;
                background-color:#ac0046 ;
                border-radius: 8.00006px;
                &:hover{
                    background-color:#db0c5f ;
                    cursor: pointer;
                }
            }
            .btn-res{
                margin-left: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                width: 258px;
                height: 54px;
                background-color:#ac0046 ;
                border-radius: 8.00006px;
                &:hover{
                    background-color:#db0c5f ;
                    cursor: pointer;
                }

            }
        }
        .social{
            top: 82vh;
            position: absolute;
            i{
                margin-left: 13px;
                margin-right: 13px;
                font-size: 29px;
                color: white;
                cursor: pointer;
                &:hover{
                    color: #df005b;
                }
            }
        }
        .box-list{
            border-radius: 10px;
            top: 70vh;
            left: 10vh;
            position: absolute;
            max-width: 256px;
            background-color: #0a0a0a;
            height: 54px;
            color: white;
            display: flex;
            align-items: center;
            border-left: 5px solid #df005b;
            padding: 0px 15px 0px 18.9999px;
            justify-content: space-between;
            font-size: 15.9999px;
            font-weight: 500;
            .right{
                margin-left: 40px;
                width: 15vh;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            .active{
                width: 10px;
                height: 10px;
                border-radius: 100vh;
                background-color: green;
            }
        }
    }
    .section{
        top: 40vh;
        height: 90vh;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 94%;
        .person{
            position: relative;
            img{
                display: block;
                width:600px;
            }
        }
        .description{
            position: relative;
            color:  gray;
            #freedom-title{
                position: absolute;
                font-size: 55.008px;
                font-weight: 700;
            }
            #independent-title{
                position: absolute;
                font-size: 55.008px;
                font-weight: 700;
                display: none;
            }
            #quality-title{
                position: absolute;
                font-size: 55.008px;
                font-weight: 700;
                display: none;

            }
            .box{
                display: grid;
                position: relative;
                grid-template-columns: 1fr 1fr 1fr;
                top: 20vh;
                width: 60vh;
                text-align: center;
                #freedom-box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 23vh;
                    height: 5vh;
                    background-color: white;
                    font-size: 14.9952px;
                    &:hover{
                        color: white;
                        background-color: #ac0046;
                        cursor: pointer;
                    }
                }
                #independent-box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 23vh;
                    height: 5vh;
                    background-color: white;
                    font-size: 14.9952px;
                    &:hover{
                        background-color: #ac0046;
                        cursor: pointer;
                        color: white;
                    }
                }
                #quality-box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 23vh;
                    height: 5vh;
                    background-color: white;
                    font-size: 14.9952px;
                    &:hover{
                        color: white;
                        background-color: #ac0046;
                        cursor: pointer;
                    }

                }
            }
            .content{
                width: 69vh;
                height: 30vh;
                position: absolute;
                top: 28vh;
                font-size: 20.0064px;
                #freedom{
                    position: absolute;
                }
                #independent{
                    position: absolute;
                    display: none;

                }
                #quality{
                    display: none;
                    position: absolute;
                }
                
            }
            .btn-play{
                position: absolute;
                width: 530px;
                top:55vh;
                height: 77px;
                margin: 39.9936px 0px 0px;
                font-size: 30.0096px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ac0046;
                color: white;
                cursor: pointer;
            }
        }
    }

    .howto{
        color: white;
        margin: 0 auto; 
        top: 40vh;
        position: relative;
        width: 80%;
        height: 80vh;
        .top{
            position: relative;
            width: 90vh;
            h2{
                font-size: 55.008px;
                font-weight: 700;
            }
            p{
                width: 60vh;
                font-size: 20.0064px;
            }
        }
        .bottom{
            background-image: url(../images/home/instruction/person.webp);
            position: relative;
            top: 3vh;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap:6vh;   
            .box{
                cursor: pointer;
                width: 50vh;
                height: 50vh;
                background-color: #0a0a0a;
                h3{
                    text-align: center;
                    font-size: 25.008px;
                    font-weight: 700;
                }
                p{
                    width: 40vh;
                    left: 5vh;
                    position: relative;
                    text-align: start;
                    word-wrap:break-word;
                }
                .title{
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    h1{
                        font-size: 55.008px;
                        font-weight: 700;
                        margin-left: 30px;
                    }
                    img{
                        font-size: 55.008px;
                        margin-right: 30px;
                    }
                }
                button{
                    width: 50vh;
                    padding: 10px;
                    background-color: gray;
                    font-size: 25.008px;
                    font-weight: 700;
                    color: white;
                    position: absolute;
                    bottom: 0;
                  
                }
                &:hover button{
                    background-color: #ac0046;
                    color: white;
                    
                }
            }
        }
    }
}
